.Rproj.user
.Rhistory
.RData
.Ruserdata
ITR.aux
ITR.fdb_latexmk
ITR.fls
ITR.log
ITR.out
ITR.toc
_bookdown_files
#*
.#*
*#
tab.txt
ITR.rds
myplot.png
.httr-oauth
*cache
render*.rds
docs
_site
*_files
*_cache
libs
SE.svg
*html
*log
.DS_store
